
<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('../header/header.ejs') %>
  </head>
  <body>
    <h2><%- err %></h2>
  </body>
  <style>
    body {
      text-align: center;
      margin-top: 50px;
    }
    h2 {
      margin: 15px 0;
    }
  </style>
</html>